.btn {
    border-radius: 15px;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.btn--primary {
    background-color: rgb(85, 88, 237);
}

.btn--secondary {
    background-color: rgb(80, 82,84);
}

.btn--small {
    font-size: 14px;
}

.btn--medium {
    font-size: 18px;
}